 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }

 body {
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: #888;
 }

 .flag {
     width: 600px;
     height: 400px;
     /* 3:2 aspect ratio */
     overflow: hidden;
 }

 .band {
     width: 100%;
     height: 133.33px;
     /* 400 / 3 */
 }

 .black-band {
     background-color: #000000;
     position: relative;
 }

 .red-band {
     background-color: #CE1126;
 }

 .green-band {
     background-color: #339E35;
 }

 .sun-container {
     position: absolute;
     top: 70%;
     left: 45%;
     transform: translate(-50%, -505);
     width: 80px;
     height: 80px;

 }

 .sun {
     width: 80px;
     height: 80px;
     background-color: #CE1126;
     border-radius: 50%;
     position: absolute;
 }