 .static {
     position: static;
 }

 .relative-example {
     position: relative;
     top: 20px;
     left: 10px;

 }



 .badge {
     position: absolute;
     top: 10px;
     right: 10px;
     background: red;
     color: white;
     border: #ca1b1b;
     border-radius: 2px;
     padding: 2px;
 }


 .card {
     position: relative;
     padding: 20px;
     border: 1px solid #ccc;
     border-radius: 8px;
     background: #ffffff;
 }

 .navbar {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 100;

 }

 .section-header {
     position: sticky;
     top: 0;
     background: white;
 }