nav a {
    font-weight: bold;
    text-decoration: none;
}

h2+p {
    font-size: 1.3rem;
}

nav li {
    list-style: none;

}

nav>ul {
    display: flex;
}

h2+p {
    font-size: 1.2rem;
    font-weight: bold;
}

h2~p {
    margin-left: 1rem;
}

p.intro {
    color: #0D9488;
}

h1,
h2,
h3 {
    font-family: Georgia, serif;
}